.header{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  background: black;
}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;

}
